body {
    font-size: 2vmin;
    margin: 0;
    position: relative;
    background-image: url("image/background.jpeg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

h1 {
    text-align: center;
    margin: 4vh auto;
    background-color: #f9caa7;
    width: 47vmin;
    border-radius: 20px;
    color: #773834;
    font-family: 'Sniglet', cursive;
    font-size: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.main-container {
    margin: 0 auto;
    width: 75vmin;
    height: 75vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container {
    perspective: 1000px;
}

.card {
    width: 24vmin;
    height: 24vmin;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Luckiest Guy', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background-color: #ff8e84;
    z-index: 1;
    backface-visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
}

.front p {
    margin: 5% 0;
}

.front img {
    width: 50%;
    height: 50%;
    margin: 12%;
}

.container:nth-child(2) img {
    margin: initial;
}

.back {
    background-color: #f9caa7;
    z-index: 0;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}

p {
    text-align: center;
}
